@import "tailwindcss";

* {
  font-family: Karla, Inter, sans-serif;
}

@layer utilities {
  .text-overlay {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000,
      0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
  }
}

@theme {
  --breakpoint-xs: 375px;
}
